@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700;800;900&display=swap');
html {
    --accent: #0880AE;
    --warning: #F2AC57;
    --success: #14A38B;
    --error: #FF7171;
    --primary: #2C2738;
    --secondary: #756F86;
    --muted: #7C9CBF;
    --bright: #FFFFFF;
    --shade: #DBE2EA;
    --tint: #EBF4F8;
    font-family: IBM Plex Sans;
}
h1 {
    margin: 0px;
    color: var(--primary);
    font-size: 45px;
}
a {
    text-decoration: none;
    color: var(--success);
}