body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    min-height: 100%;
    flex-direction: row;
    min-height: 100%;
    height: min-content;
}

.left-half {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.right-half {
    flex: 1;
    background-color: #0880AE; 
    transition: background-color 0.5s ease; 
    height: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 450px;
}

.right-half:hover {
    background-color: #0660a3;
}

.big-text {
    font-size: 75px;
    font-weight: bold;
    font-family: IBM Plex Sans;
    color: #2C2738;
    margin-left: auto;
    margin-right: auto;
}

.team {
    font-size: 20px;
    font-family: IBM Plex Sans;
    color: #2C2738;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    font-size: 18px;
    color: var(--shade);
    margin: 10px 5% 0px 0px;
    text-align: right;
    margin: auto 5% 10px 0px;
    text-align: right;
}

img {
    height: 70px;
}

.info-box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    margin-top: 50px; 
}

.info-box h2 {
    color: #333;
}

.info-box p {
    color: #666;
    line-height: 1.6;
}

.about-webauthn {
    font-size: 15px;
    padding: 0px 8%;
    text-indent: 20px;
    margin: 0px 0px 5px 0px;
}

#about {
    height: 300px;
    margin: 70px 0px 0px 0px;
}

#about-us {
    display: block;
    margin: 0 auto;
    padding-bottom: 2%;
}


@media screen and (max-width: 800px)
{
    .container {
        flex-direction: column;
    }
    #about {
        height: fit-content;
        padding-bottom: 50px;
    }
}
a {
    color: var(--primary);
}