input {
    background-color: var(--tint);
    outline: none;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    width: -webkit-fill-available;
}
input::placeholder {
    color: var(--secondary);
}
p {
    font-size: 12px;
    color: var(--secondary);
    font-weight: 400;
}
h2 {
    margin: 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #2C2738;
}
#sign-up {
    margin: 0 auto;
    height: 300px;
    width: 250px;
    background-color: var(--bright);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#sign-up-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--bright);
    font-weight: 500;
    font-size: 15px;
}
button:hover
{
    opacity: 90%;
}
#messages {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 20px;
}
.error {
    height: 20px;
    font-size: 15px;
    color: var(--error);
    opacity: 100%;
    animation: error 4s forwards;
    margin: 0px;
}
@keyframes error {
    0% {opacity: 100%;}
    100% {opacity: 0;}
}

.success {
    height: 20px;
    font-size: 15px;
    color: var(--success);
    margin: 0px;
}

@media screen and (max-width: 400px)
{
    #sign-up {
        width: fit-content;
    }
}

.suc {
    font-size: 15px;
    font-family: IBM Plex Sans;
    color: #2C2738;
    text-align: left;
    margin: 0px;
    font-weight: 600;
}
.suc span {
    font-weight: 300;
}